<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<title>Trip Optimizer</title>
		<base href="."> 

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/x-icon" href="assets/favicon.ico">

		<!-- jQuery library -->
		<script src="libs/jquery-3.3.1.min.js"></script>

		<!-- Latest compiled and minified CSS -->
		
		<link rel="stylesheet" href="libs/bootstrap-4.0.0-dist/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="libs/bootstrap-4.0.0-dist/css/bootstrap-theme.min.css"  type="text/css" />
		<link rel="stylesheet" href="libs/bootstrap-4.0.0-dist/css/bootstrap.min.css.map"  type="text/css" />
		<link rel="stylesheet" href="libs/bootstrap-4.0.0-dist/css/bootstrap-theme.min.css.map"  type="text/css" />

		<!-- Custom CSS styles file -->
		<link rel="stylesheet" href="styles.css"  type="text/css" />

		<!-- Latest compiled JavaScript -->
		<script src="libs/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>

		<!-- AngularJS 1.6.9 Library -->
		<script src="libs/angular.min.js"></script>

		<!-- Google maps API JS -->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMuEMiBJZE75aQj5KXCu_FbNTdxA9WBJg&libraries=places"></script>

		<!-- Angular app file -->
		<script src="webContent/app.js"></script>

		<!-- Angular directive for autocomplete of search -->
		<script src="libs/angularjs-google-maps.js"></script>
	</head>
	<body>

		<div class="container" ng-app="myApp" ng-controller="newPlaceCtrl">
	    
			<nav class="navbar bg-dark navbar-dark fixed-top">
			  <a class="navbar-brand" href="#">Trip Optimizer</a>
			</nav>

		    <div class="container" style="margin-top:70px;margin-bottom:20px;">
			  <h5>The trip optimizer is used for finding the best possible travelling path in a trip. A must for all road warriors.</h5>
			</div>

		    <!-- <div class="alert alert-danger text-center" role="alert" ng-show="apiError">
		        <b>API Error : </b>
		        <span>{{ apiStatus }}</span>
		    </div> -->
		    
		    <form name="searchForm" novalidate 
		    ng-submit="search()">
		        <div class="input-group">
		            <input name="place" type="text" gm-places-autocomplete ng-model="searchPlace" class="form-control"  required autofocus />
		            <span class="input-group-btn">
		                <button class="btn btn-primary" 
		                ng-disabled="searchForm.$invalid">Search</button>
		            </span>
		        </div>
		    </form>

		    <hr></hr>

		    <form name="tripDetailsForm" class="form-horizontal" novalidate 
		    ng-submit="send()">
		        <div class="form-group">
		            <label for="sourceField" class="col-xs-2 control-label">Source</label>
		            <div class="col-xs-10">
		                <input name="sourceField" type="text" class="form-control" 
		                ng-model="place.source" required />
		            </div>
		        </div>
		        <div class="form-group">
		            <label for="destinationField" class="col-xs-2 control-label">Destination</label>
		            <div class="col-xs-10">
		                <input name="destinationField" type="text" class="form-control" 
		                ng-model="place.destination" required />
		            </div>
		        </div>
		    </form>

		    <hr></hr>


		    <!-- Start: Location Cards -->	
		    <section class="container p-t-3">
			    <div class="row">
			        <div class="col-lg-12">
			            <h1>Category 1 Cards</h1>
			        </div>
			    </div>
			</section>
			<section class="carousel slide" data-ride="carousel" id="postsCarousel">
			    <div class="container">
			        <div class="row">
			            <div class="col-xs-12 text-md-right lead">
			                <a class="btn btn-outline-secondary prev" href="" title="go back"><i class="fa fa-lg fa-chevron-left"></i></a>
			                <a class="btn btn-outline-secondary next" href="" title="more"><i class="fa fa-lg fa-chevron-right"></i></a>
			            </div>
			        </div>
			    </div>
			    <div class="container p-t-0 m-t-2 carousel-inner">
			        <div class="row row-equal carousel-item active m-t-0">
			            <div class="col-md-4">
			                <div class="card">
			                    <div class="card-img-top card-img-top-250">
			                        <img class="img-fluid" src="http://i.imgur.com/EW5FgJM.png" alt="Carousel 1">
			                    </div>
			                    <div class="card-block p-t-2">
			                        <h6 class="small text-wide p-b-2">Insight</h6>
			                        <h2>
			                            <a href>Why Stuff Happens Every Year.</a>
			                        </h2>
			                    </div>
			                </div>
			            </div>
			            <div class="col-md-4">
			                <div class="card">
			                    <div class="card-img-top card-img-top-250">
			                        <img class="img-fluid" src="http://i.imgur.com/Hw7sWGU.png" alt="Carousel 2">
			                    </div>
			                    <div class="card-block p-t-2">
			                        <h6 class="small text-wide p-b-2">Development</h6>
			                        <h2>
			                            <a href>How to Make Every Line Count.</a>
			                        </h2>
			                    </div>
			                </div>
			            </div>
			            <div class="col-md-4">
			                <div class="card">
			                    <div class="card-img-top card-img-top-250">
			                        <img class="img-fluid" src="http://i.imgur.com/g27lAMl.png" alt="Carousel 3">
			                    </div>
			                    <div class="card-block p-t-2">
			                        <h6 class="small text-wide p-b-2">Design</h6>
			                        <h2>
			                            <a href>Responsive is Essential.</a>
			                        </h2>
			                    </div>
			                </div>
			            </div>
			        </div>
			        <div class="row row-equal carousel-item m-t-0">
			            <div class="col-md-4">
			                <div class="card">
			                    <div class="card-img-top card-img-top-250">
			                        <img class="img-fluid" src="//visualhunt.com/photos/l/1/office-student-work-study.jpg" alt="Carousel 4">
			                    </div>
			                    <div class="card-block p-t-2">
			                        <h6 class="small text-wide p-b-2">Another</h6>
			                        <h2>
			                            <a href>Tagline or Call-to-action.</a>
			                        </h2>
			                    </div>
			                </div>
			            </div>
			            <div class="col-md-4">
			                <div class="card">
			                    <div class="card-img-top card-img-top-250">
			                        <img class="img-fluid" src="//visualhunt.com/photos/l/1/working-woman-technology-computer.jpg" alt="Carousel 5">
			                    </div>
			                    <div class="card-block p-t-2">
			                        <h6 class="small text-wide p-b-2"><span class="pull-xs-right">12.04</span> Category 1</h6>
			                        <h2>
			                            <a href>This is a Blog Title.</a>
			                        </h2>
			                    </div>
			                </div>
			            </div>
			            <div class="col-md-4 fadeIn wow">
			                <div class="card">
			                    <div class="card-img-top card-img-top-250">
			                        <img class="img-fluid" src="//visualhunt.com/photos/l/1/people-office-team-collaboration.jpg" alt="Carousel 6">
			                    </div>
			                    <div class="card-block p-t-2">
			                        <h6 class="small text-wide p-b-2">Category 3</h6>
			                        <h2>
			                            <a href>Catchy Title of a Blog Post.</a>
			                        </h2>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			</section>
		    <!-- End: Location Cards -->


		        
		    <!-- <div id="map"></div>
		      
		    <form name="resForm" class="form-horizontal" novalidate 
		    ng-submit="send()">
		        <div class="form-group">
		            <label for="resName" class="col-xs-2 control-label">Name</label>
		            <div class="col-xs-10">
		                <input name="resName" type="text" class="form-control" 
		                ng-model="place.name" required />
		            </div>
		        </div>
		        <div class="form-group">
		            <label for="resLat" class="col-xs-2 control-label">Latitude</label>
		            <div class="col-xs-10">
		                <input name="resLat" type="number" class="form-control" 
		                ng-model="place.lat" required />
		            </div>
		        </div>
		        <div class="form-group">
		            <label for="resLng" class="col-xs-2 control-label">Longitude</label>
		            <div class="col-xs-10">
		                <input name="resLng" type="number" class="form-control" 
		                ng-model="place.lng" required />
		            </div>
		        </div>
		        <div class="form-group">
		            <div class="col-xs-offset-2 col-xs-10">
		                <button class="btn btn-success" 
		                ng-disabled="resForm.$invalid">Confirm</button>
		            </div>
		        </div>
		    </form> -->
		    
		    <footer class="footer">
			    <span class="text-muted">&nbsp;&nbsp;Trip Optimizer version 1.0.0 July 2018.</span>
			</footer>

		</div>

	</body>
	<script>
		(function($) {
		    "use strict";

		    // manual carousel controls
		    $('.next').click(function(){ $('.carousel').carousel('next');return false; });
		    $('.prev').click(function(){ $('.carousel').carousel('prev');return false; });
		    
		})(jQuery);
	</script>
</html>