<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<title>Google Maps</title>
		<base href="."> 

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/x-icon" href="../../assets/favicon.ico">

		<!-- jQuery library -->
		<script src="../../libs/jquery-3.3.1.min.js"></script>

		<!-- Latest compiled and minified CSS -->
		
		<link rel="stylesheet" href="../../libs/bootstrap-4.0.0-dist/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="../../libs/bootstrap-4.0.0-dist/css/bootstrap-theme.min.css"  type="text/css" />
		<link rel="stylesheet" href="../../libs/bootstrap-4.0.0-dist/css/bootstrap.min.css.map"  type="text/css" />
		<link rel="stylesheet" href="../../libs/bootstrap-4.0.0-dist/css/bootstrap-theme.min.css.map"  type="text/css" />

		<!-- Custom CSS styles file -->
		<link rel="stylesheet" href="../../styles.css"  type="text/css" />

		<!-- Latest compiled JavaScript -->
		<script src="../../libs/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>

		<!-- AngularJS 1.6.9 Library -->
		<script src="../../libs/angular.min.js"></script>

		<!-- Google maps API JS -->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNzudxWQmZi5hC3nHE2w8e0HPwg1sgOSw&libraries=places"></script>


		<!-- Angular app file -->
		<script src="../../webContent/app.js"></script>

		<!-- Angular directive for autocomplete of search -->
		<script src="../../libs/angularjs-google-maps.js"></script>


	</head>
	<body>

		<div id="map" style="width:100%;height:500px"></div>
		<script src="../../webContent/templates/googleMap.js" type="text/javascript"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNzudxWQmZi5hC3nHE2w8e0HPwg1sgOSw&callback=myMap"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

	<div class="container">
	<section class="cms-boxes">
	   <div class="container-fluid">
	      <div class="row">
	         <div class="col-md-4 cms-boxes-outer">
	            <div class="cms-boxes-items cms-features">
	               <div class="boxes-align">
	                  <div class="small-box">
	                     <i class="fa fa-4x fa-laptop">&nbsp;</i>
	                     <h3>Data Management</h3>
	                     <p>Gain valuable insights with WebCorpCo Data.</p>
	                  </div>
	               </div>
	            </div>
	         </div>
	         <div class="col-md-4 cms-boxes-outer">
	            <div class="cms-boxes-items cms-security">
	               <div class="boxes-align">
	                  <div class="small-box">
	                     <i class="fa fa-4x fa-cog">&nbsp;</i>
	                     <h3>Enterprise<br> Data Funnel</h3>
	                     <p>Pull in realtime data from every source on the web.</p>
	                  </div>
	               </div>
	            </div>
	         </div>
	         <div class="col-md-4 cms-boxes-outer">
	            <div class="cms-boxes-items cms-scalability">
	               <div class="boxes-align">
	                  <div class="small-box">
	                     <i class="fa fa-4x fa-arrows-alt" aria-hidden="true"></i>
	                     <h3>Pattern Analysis</h3>
	                     <p>The world's most advanced algorithms let loose on your data.</p>
	                  </div>
	               </div>
	            </div>
	         </div>
	      </div>
	      <div class="row">
	         <div class="col-md-6 cms-boxes-outer">
	            <div class="cms-boxes-items cms-built">
	               <div class="boxes-align">
	                  <div class="large-box">
	                     <i class="fa fa-4x fa-heart" aria-hidden="true"></i>
	                     <h3>Award-winning customer service</h3>
	                     <p>Award-winning, U.S. based support 24/7. If you need help we are here.</p>
	                  </div>
	               </div>
	            </div>
	         </div>
	         <div class="col-md-6 cms-boxes-outer">
	            <div class="cms-boxes-items cms-documentation">
	               <div class="boxes-align">
	                  <div class="large-box">
	                     <i class="fa fa-4x fa-file-code-o">&nbsp;</i>
	                     <h3>Documentation</h3>
	                     <p>From connecting data sources to styling reports, we have everything you need to get the most value out of WebCorpCo.</p>
	                  </div>
	               </div>
	            </div>
	         </div>
	      </div>
	   </div>
	</section>
</div>





	</body>
</html>
